*/*/bin/
*/*/obj/
/.vs
/Auth2Demo/.vs/Auth2Demo
/Auth2Demo/Auth2Demo/Auth2Demo.v3.ncrunchproject.user
/Auth2Demo/Auth2Demo/Auth2Demo.v3.ncrunchproject
/Auth2Demo/Auth2Demo.Tests/Auth2Demo.Tests.v3.ncrunchproject.user
/Auth2Demo/Auth2Demo.Tests/Auth2Demo.Tests.v3.ncrunchproject
/Auth2Demo/Auth2Demo.Tests/Auth2Demo.Tests.csproj.user
/Auth2Demo/_NCrunch_Auth2Demo
/Auth2Demo/Auth2Demo.v3.ncrunchsolution.user
/Auth2Demo/Auth2Demo.v3.ncrunchsolution
/Auth3Demo/.vs/Auth3Demo
/Auth3Demo/Auth3Demo/Auth3Demo.v3.ncrunchproject.user
/Auth3Demo/Auth3Demo/Auth3Demo.v3.ncrunchproject
/Auth3Demo/Auth3Demo.Tests/Auth3Demo.Tests.v3.ncrunchproject.user
/Auth3Demo/Auth3Demo.Tests/Auth3Demo.Tests.v3.ncrunchproject
/Auth3Demo/_NCrunch_Auth3Demo
/Auth3Demo/Auth3Demo.v3.ncrunchsolution.user
/Auth3Demo/Auth3Demo.v3.ncrunchsolution
*/.idea/
